<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
		Klassenübersicht
    </ui:define>



	<ui:define name="body">


		<div class="nav-tabs-custom" style="padding-left: 5px !important;">
			<ul class="nav nav-tabs">
				<li class=""><a href="#tab_1" data-toggle="tab"
					aria-expanded="false">Fehlzeiten</a></li>
				<li class=""><a href="#tab_2" data-toggle="tab"
					aria-expanded="false">Klassenliste</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">




					<p:chart type="bar" model="#{klasseMB.model}" style="width:100%" />

				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="tab_2">


					<h:form id="form">
						<p:growl id="msgs" showDetail="true" />


						<p:dataTable widgetVar="list" var="schueler"
							value="#{klasseMB.getClassList(param['id'])}"
							rowKey="#{schueler.idschueler}" rows="20">

							<p:column headerText="Nachname">
								<h:outputText id="nachname" value="#{schueler.nachname}"
									style="width:100%" />
							</p:column>
							<p:column headerText="Vorname">
								<h:outputText id="vorname" value="#{schueler.vorname}"
									style="width:100%" />
							</p:column>
							<p:column headerText="Geburtsdatum">
								<h:outputText id="geburtsdatum" value="#{schueler.geburtsdatum}"
									style="width:100%" />
							</p:column>

						</p:dataTable>





					</h:form>
				</div>
			</div>
			<!-- /.tab-content -->
		</div>






		<adm:breadcrumb title="stunde list" />



	</ui:define>


</ui:composition>

