<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
		
	 <link rel="stylesheet" type="text/css" href="includes/customstyle.css" />
	
	<ul class="sidebar-menu">
		

		<li><p:link href="/lehrerliste.xhtml">
				<i class="fa fa-user" aria-hidden="true"></i>
				<span>Lehrer</span>
			</p:link></li>

		<li><p:link href="/schuelerliste.xhtml">
				<i class="fa fa-child" aria-hidden="true"></i>
				<span>Schüler</span>
			</p:link></li>

		<li><p:link href="/klasseliste.xhtml">
				<i class="fa fa-users" aria-hidden="true"></i>
				<span>Klassen</span>
			</p:link></li>

		<li><p:link href="/raumliste.xhtml">
				<i class="fa fa-building" aria-hidden="true"></i>
				<span>Räume</span>
			</p:link></li>

		<li><p:link href="/fachliste.xhtml">
				<i class="fa fa-clone" aria-hidden="true"></i>
				<span>Fächer</span>
			</p:link></li>

		<li><p:link href="/kursliste.xhtml">
				<i class="fa fa-list" aria-hidden="true"></i>
				<span>Kurse</span>
			</p:link></li>

		<li><p:link href="/stundenplancsv.xhtml">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<span>Stundenplan</span>
			</p:link></li>

		<li><p:link href="/stundenliste.xhtml">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<span>Stunden</span>
			</p:link></li>

	</ul>

</ui:composition>