<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ul class="sidebar-menu" data-widget="tree" data-api="tree">


		<li><p:link href="/meinunterricht.xhtml">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<span>Mein Unterricht</span>
			</p:link></li>




		<li class="treeview"><a href="#"> <i class="fa fa-users"
				aria-hidden="true"></i> <span>Klassen</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">

				<ui:repeat value="#{userSession.klasseList}" var="klasse">
					<li><p:link href="lehrer/klasse.xhtml?id=#{klasse.idklasse}">

							<span> #{klasse.bezeichnung} </span>
						</p:link></li>
				</ui:repeat>

			</ul></li>

	</ul>

</ui:composition>