<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ul class="sidebar-menu">
		<li><p:link href="/index.xhtml" onclick="clearBreadCrumbs()">
				<i class="fa fa-home"></i>
				<span>Home</span>
			</p:link></li>
		<li class="header">General2</li>


		<li><p:link href="/lehrerliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Lehrer</span>
			</p:link></li>

		<li><p:link href="/schuelerliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Schüler</span>
			</p:link></li>

		<li><p:link href="/klasseliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Klassen</span>
			</p:link></li>

		<li><p:link href="/raumliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Räume</span>
			</p:link></li>

		<li><p:link href="/fachliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Fächer</span>
			</p:link></li>

		<li><p:link href="/kursliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Kurse</span>
			</p:link></li>

		<li><p:link href="/stundenplancsv.xhtml">
				<i class="fa-id-card"></i>
				<span>Stundenplan</span>
			</p:link></li>

		<li><p:link href="/stundenliste.xhtml">
				<i class="fa-id-card"></i>
				<span>Stunden</span>
			</p:link></li>




	</ul>

</ui:composition>