<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ul class="sidebar-menu">
		<li><p:link href="/index.xhtml" onclick="clearBreadCrumbs()">
				<i class="fa fa-home"></i>
				<span>Home</span>
			</p:link></li>
		<li class="header">General</li>


		<li><p:link href="/meinunterricht.xhtml">
				<i class="fa-id-card"></i>
				<span>Mein Unterricht</span>
			</p:link></li>


	</ul>

</ui:composition>