<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
		Fächer
    </ui:define>


	<ui:define name="body">

		<h:form id="form">
			<div class="box box-primary">
			
				<p:dataTable widgetVar="list" var="fach" value="#{fachList.list}"
					rowKey="#{fach.id}" selection="#{fachList.selectedList}" rows="20"
					sortMode="multiple">

					<p:column headerText="Bezeichnung">
						<h:outputText id="bezeichnung" value="#{fach.bezeichnung}"
							style="width:100%" />
					</p:column>
					<p:column headerText="Kuerzel">
						<h:outputText id="kuerzel" value="#{fach.kuerzel}"
							style="width:100%" />
					</p:column>



					<p:column class="btn-column">
						<f:facet name="header">
							<p:commandButton action="fachformular?faces-redirect=true"
								icon="fa fa-plus" value="Hinzufügen"
								styleClass="btn-primary own-addbtn" />
							<p:spacer width="5" />
						</f:facet>

						<p:button value="ändern" icon="fa fa-edit"
							href="fachformular.xhtml?id=#{fach.id}" class="own-btn" />

						<p:commandButton actionListener="#{fachList.delete(fach)}"
							value="löschen" icon="fa fa-trash"
							styleClass="btn-danger own-btn" onsuccess="location.reload()" />
					</p:column>


				</p:dataTable>

			</div>

		</h:form>

	</ui:define>


</ui:composition>
