<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="title">
		Klassenbucheintrag
    </ui:define>

	<ui:define name="body">
		<f:metadata>
			<f:viewParam name="id" value="#{klassenbucheintrag.id}"
				converter="javax.faces.Long" />
			<f:viewParam name="time" value="#{klassenbucheintrag.datum}"
				converter="javax.faces.DateTime">
				<f:convertDateTime pattern="yyyyMMddHHmmss" />
			</f:viewParam>
		</f:metadata>

		<h:form id="false" prependId="false">

			<p:inputTextarea id="unterrichtsgegenstand"
				value="#{klassenbucheintrag.unterrichtsgegenstand}" rows="6"
				cols="33"></p:inputTextarea>


			<p:dataTable var="schueler"
				value="#{klassenbucheintrag.schuelerList}">

				<p:column headerText="Name">
					<h:outputText value="#{schueler.nachname}" />
				</p:column>

				<p:column selectionMode="multiple"
					style="width:16px;text-align:center" />

			</p:dataTable>

		</h:form>


	</ui:define>


</ui:composition>

