<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
Kurs
    </ui:define>

	<ui:define name="description">

	</ui:define>



	<ui:define name="body">
		<adm:breadcrumb title="kurs list" />

		<h:form id="form">
			<p:growl id="msgs" showDetail="true" />


			<div class="box box-primary">
				<div class="box-header with-border">


					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton action="kursformular?faces-redirect=true"
							icon="fa fa-plus" value="Hinzufügen" styleClass="btn-primary" />
						<p:spacer width="5" />

						<p:commandButton
							action="#{kursForm.remove(kursList.selectedList)}"
							icon="fa fa-trash" styleClass="btn-danger"
							value="Ausgewählte löschen" onsuccess="location.reload()">
							<p:confirm header="Confirmation"
								message="Wirklich ausgewählte Schüler löschen?"
								icon="ui-icon-danger" />
						</p:commandButton>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>


						<p:spacer width="5" />
					</div>
				</div>




				<p:dataTable widgetVar="list" var="kurs" value="#{kursList.list}"
					rowKey="#{kurs.idkurs}" selection="#{kursList.selectedList}"
					rows="20" sortMode="multiple">

					<p:column selectionMode="multiple" style="text-align:center" />

					<p:column headerText="Bezeichnung" sortBy="#{kurs.bezeichnung}">
						<a href="kursformular.xhtml?id=#{kurs.idkurs}"><h:outputText
								id="bezeichnung" value="#{kurs.bezeichnung}" style="width:100%" /></a>
					</p:column>
					<p:column headerText="FachKuerzel" sortBy="#{kurs.fachKuerzel}">
						<a href="kursformular.xhtml?id=#{kurs.idkurs}"><h:outputText
								id="fachKuerzel" value="#{kurs.fachKuerzel}" style="width:100%" /></a>
					</p:column>
					<p:column headerText="FachBezeichnung"
						sortBy="#{kurs.fachBezeichnung}">
						<a href="kursformular.xhtml?id=#{kurs.idkurs}"><h:outputText
								id="fachBezeichnung" value="#{kurs.fachBezeichnung}"
								style="width:100%" /></a>
					</p:column>
					<p:column headerText="Lehrer" sortBy="#{kurs.lehrer}">
						<a href="kursformular.xhtml?id=#{kurs.idkurs}"><h:outputText
								id="lehrer" value="#{kurs.lehrer}" style="width:100%" /></a>
					</p:column>
					<p:column headerText="Stufen" sortBy="#{kurs.stufen}">
						<a href="kursformular.xhtml?id=#{kurs.idkurs}"><h:outputText
								id="stufen" value="#{kurs.stufen}" style="width:100%" /></a>
					</p:column>


				</p:dataTable>

			</div>

		</h:form>

	</ui:define>


</ui:composition>

