<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="title">
        Lehrerformular
    </ui:define>

	<ui:define name="body">
		<f:metadata>
			<f:viewParam name="id" value="#{lehrerForm.idLehrer}"
				converter="javax.faces.Long" />
			<!-- use view action if you are in a Java EE 7 server: <f:viewAction action="#{carFormMB.init()}"/>-->
			<f:event type="preRenderView" listener="#{lehrerForm.init()}" />
		</f:metadata>

		<adm:breadcrumb
			title="#{empty lehrerForm.idLehrer ? 'Neuer Lehrer' : 'Car '.concat(lehrerForm.idLehrer)}"
			link="lehrerformular.xhtml?id=#{lehrerForm.idLehrer}" />
		<h:form id="form" prependId="false">
			<p:focus rendered="#{empty lehrerForm.idLehrer}" />

			<div class="box box-primary">
				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton value="Save" action="#{lehrerForm.save}"
							update="@form" icon="fa fa-check" styleClass="btn-primary" />
						<p:spacer width="5" rendered="#{lehrerForm.isNew()}" />
						<p:commandButton value="Clear" action="#{lehrerForm.clear}"
							process="@this" icon="fa fa-refresh" styleClass="btn-success"
							update="@form" rendered="#{lehrerForm.isNew()}"
							resetValues="true" />
						<p:spacer width="5" rendered="#{not lehrerForm.isNew()}" />

						<p:commandButton value="Delete" action="#{lehrerForm.remove}"
							process="@this" rendered="#{not lehrerForm.isNew()}"
							icon="fa fa-trash" styleClass="btn-danger">
							<f:setPropertyActionListener value="true"
								target="#{facesContext.externalContext.flash.keepMessages}" />
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton value="Back" immediate="true"
							action="lehrerliste?faces-redirect=true" process="@this"
							icon="fa fa-close" />
					</div>
					<p:splitButton value="Save" action="#{lehrerForm.save}"
						update="@form" icon="fa fa-check"
						styleClass="hidden-md hidden-lg btn-primary">
						<p:menuitem value="Reset" action="#{lehrerForm.clear}"
							process="@this" update="@form" rendered="#{lehrerForm.isNew()}"
							resetValues="true" icon="fa fa-refresh" />
						<p:menuitem value="Delete" action="#{lehrerForm.remove}"
							process="@this" rendered="#{not lehrerForm.isNew()}"
							icon="fa fa-trash">
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:menuitem>
						<p:separator />
						<p:menuitem value="Back" action="lehrerliste?faces-redirect=true"
							process="@this" immediate="true" icon="fa fa-close" />
					</p:splitButton>

					<p:separator />

					<div class="ui-g ui-fluid">

						<div class="ui-g-12">
							<p:outputLabel value="Kürzel" for="inptkuerzel" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inptkuerzel"
								value="#{lehrerForm.lehrer.kuerzel}" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="Nachname" for="inptnachname" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inptnachname"
								value="#{lehrerForm.lehrer.nachname}" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="Vorname" for="inptvorname" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inptvorname"
								value="#{lehrerForm.lehrer.vorname}" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel for="inputgeburtsdatum" value="Geburtsdatum" />
						</div>
						<div class="ui-g-12">
							<p:calendar id="inputgeburtsdatum"
								value="#{lehrerForm.lehrer.geburtsdatum}" locale="de"
								navigator="true" pattern="dd.MM.yyyy" yearRange="-72:-19" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel for="inputvwn" value="Interne Verwaltungsnummer" />
						</div>
						<div class="ui-g-12">
							<p:inputNumber id="inputvwn"
								value="#{lehrerForm.lehrer.interne_verwaltungsnummer}" />
						</div>
					</div>
				</div>
			</div>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				styleClass="box-danger">
				<p:commandButton value="Yes" type="button"
					styleClass="btn-primary ui-confirmdialog-yes" icon="fa fa-check" />
				<p:commandButton value="No" type="button"
					styleClass="btn-danger ui-confirmdialog-no" icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>

</ui:composition>
