<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
        Lehrer
    </ui:define>

	<ui:define name="description">
        Find cars by name, price and model
    </ui:define>

	<ui:define name="body">
		<adm:breadcrumb title="Car list" />

		<h:form id="form">
			<p:growl id="msgs" showDetail="true" />


			<div id="main-buttons" class="hidden-sm hidden-xs">
				<p:commandButton action="lehrerformular?faces-redirect=true"
					icon="fa fa-plus" value="Lehrer hinzufügen"
					styleClass="btn-primary" />
				<p:spacer width="5" />
			</div>



			<div class="box box-primary">

				<p:dataTable widgetVar="teachersTable" var="lehrer"
					value="#{lehrerlist.teachers}" rows="20" sortMode="multiple">

					<p:column headerText="Kürzel" sortBy="#{lehrer.kuerzel}">
						<a href="lehrerformular.xhtml?id=#{lehrer.idLehrer}"><h:outputText
								id="kuerzel" value="#{lehrer.kuerzel}" style="width:100%" /></a>
					</p:column>

					<p:column headerText="Nachname" sortBy="#{lehrer.nachname}">
						<h:outputText id="nachname" value="#{lehrer.nachname}"
							style="width:100%" />
					</p:column>

					<p:column headerText="Vorname" sortBy="#{lehrer.vorname}">
						<h:outputText value="#{lehrer.vorname}" />
					</p:column>

					<p:column headerText="Geburtsdatum (JJJJ-MM-TT)"
						sortBy="#{lehrer.geburtsdatum}">
						<h:outputText value="#{lehrer.geburtsdatum}" />
					</p:column>

					<p:column headerText="Interne Verwaltungsnummer"
						sortBy="#{lehrer.interne_verwaltungsnummer}">
						<h:outputText value="#{lehrer.interne_verwaltungsnummer}" />
					</p:column>
				</p:dataTable>

			</div>

		</h:form>

	</ui:define>

</ui:composition>
