<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
		Mein Unterricht
    </ui:define>

	<ui:define name="description">

	</ui:define>



	<ui:define name="body">

		<div class="box box-primary">

			<h:form id="form">
				<p:schedule
					
					value="#{scheduleView.getMeinUnterrichtSchedule(userSession)}"
					showWeekends="false" allDaySlot="false" minTime="07:00"
					maxTime="20:00" locale="de" timeZone="GMT+1" draggable="false"
					resizable="false">

					<p:ajax event="eventSelect"
						listener="#{scheduleView.onEventSelect}" />

				</p:schedule>
			</h:form>



		</div>

		<script type="text/javascript">
    	PrimeFaces.locales ['de'] = {
    		    closeText: 'Schließen',
    		    prevText: 'Zurück',
    		    nextText: 'Weiter',
    		    monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember' ],
    		    monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez' ],
    		    dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
    		    dayNamesShort: ['So', 'Mo', 'Die', 'Mi', 'Do', 'Fr', 'Sa'],
    		    dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
    		    weekHeader: 'Woche',
    		    firstDay: 1,
    		    isRTL: false,
    		    showMonthAfterYear: false,
    		    yearSuffix:'',
    		    timeOnlyTitle: 'Nur Zeit',
    		    timeText: 'Zeit',
    		    hourText: 'Stunde',
    		    minuteText: 'Minute',
    		    secondText: 'Sekunde',
    		    currentText: 'Aktuelles Datum',
    		    ampm: false,
    		    month: 'Monat',
    		    week: 'Woche',
    		    day: 'Tag',
    		    allDayText: 'Ganzer Tag'
    		};
    	</script>

	</ui:define>


</ui:composition>

