<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{userSession.layout}">

	<ui:define name="title">
Raumformular
    </ui:define>

	<ui:define name="body">
		<f:metadata>
			<f:viewParam name="id" value="#{raumForm.id}"
				converter="javax.faces.Long" />
			<f:event type="preRenderView" listener="#{raumForm.init()}" />
		</f:metadata>

		<adm:breadcrumb link="raumForm.xhtml?id=#{raumForm.id}" />
		<h:form id="form" prependId="false">
			<p:focus rendered="#{empty raumForm.id}" />

			<div class="box box-primary">
				<div class="box-header with-border">
					<div id="main-buttons">
						<p:commandButton value="Save" action="#{raumForm.save}"
							update="@form" icon="fa fa-check" styleClass="btn-primary" />
					
					
					</div>
					

					<p:separator />

					<div class="ui-g ui-fluid">

						<div class="ui-g-12">
							<p:outputLabel value="Bezeichnung" for="inputbezeichnung" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputbezeichnung"
								value="#{raumForm.instance.bezeichnung}" />
						</div>
					</div>
				</div>
			</div>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				styleClass="box-danger">
				<p:commandButton value="Yes" type="button"
					styleClass="btn-primary ui-confirmdialog-yes" icon="fa fa-check" />
				<p:commandButton value="No" type="button"
					styleClass="btn-danger ui-confirmdialog-no" icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>

</ui:composition>

