<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="title">
Schuelerformular
    </ui:define>

	<ui:define name="body">
		<f:metadata>
			<f:viewParam name="id" value="#{schuelerForm.id}"
				converter="javax.faces.Long" />
			<f:event type="preRenderView" listener="#{schuelerForm.init()}" />
		</f:metadata>

		<adm:breadcrumb
			title="#{empty schuelerForm.id ? 'Neu Schuelerformular' : 'Car '.concat(schuelerForm.id)}"
			link="schuelerForm.xhtml?id=#{schuelerForm.id}" />
		<h:form id="form" prependId="false">
			<p:focus rendered="#{empty schuelerForm.id}" />

			<div class="box box-primary">

				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton value="Save" action="#{schuelerForm.save}"
							update="@form" icon="fa fa-check" styleClass="btn-primary" />
						<p:spacer width="5" rendered="#{schuelerForm.isNew()}" />
						<p:commandButton value="Clear" action="#{schuelerForm.clear}"
							process="@this" icon="fa fa-refresh" styleClass="btn-success"
							update="@form" rendered="#{schuelerForm.isNew()}"
							resetValues="true" />
						<p:spacer width="5" rendered="#{not schuelerForm.isNew()}" />

						<p:commandButton value="Delete" action="#{schuelerForm.remove}"
							process="@this" rendered="#{not schuelerForm.isNew()}"
							icon="fa fa-trash" styleClass="btn-danger">
							<f:setPropertyActionListener value="true"
								target="#{facesContext.externalContext.flash.keepMessages}" />
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton value="Back" immediate="true"
							action="schuelerList?faces-redirect=true" process="@this"
							icon="fa fa-close" />
					</div>
					<p:splitButton value="Save" action="#{schuelerForm.save}"
						update="@form" icon="fa fa-check"
						styleClass="hidden-md hidden-lg btn-primary">
						<p:menuitem value="Reset" action="#{schuelerForm.clear}"
							process="@this" update="@form" rendered="#{schuelerForm.isNew()}"
							resetValues="true" icon="fa fa-refresh" />
						<p:menuitem value="Delete" action="#{schuelerForm.remove}"
							process="@this" rendered="#{not schuelerForm.isNew()}"
							icon="fa fa-trash">
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:menuitem>
						<p:separator />
						<p:menuitem value="Back" action="schuelerList?faces-redirect=true"
							process="@this" immediate="true" icon="fa fa-close" />
					</p:splitButton>

					<p:separator />

					<div class="ui-g ui-fluid">

						<div class="ui-g-12">
							<p:outputLabel value="interne_verwaltungsnummer"
								for="inputinterne_verwaltungsnummer" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputinterne_verwaltungsnummer"
								value="#{schuelerForm.instance.interne_verwaltungsnummer}"
								emptyValue="empty" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="geburtsdatum" for="inputgeburtsdatum" />
						</div>
						<div class="ui-g-12">
							<p:calendar id="inputgeburtsdatum"
								value="#{schuelerForm.instance.geburtsdatum}" locale="de"
								navigator="true" pattern="dd.MM.yyyy" yearRange="-23:-8" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="vorname" for="inputvorname" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputvorname"
								value="#{schuelerForm.instance.vorname}" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="nachname" for="inputnachname" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputnachname"
								value="#{schuelerForm.instance.nachname}" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="klasse_fk" for="inputklasse_fk" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputklasse_fk"
								value="#{schuelerForm.instance.klasse_fk}" />
						</div>
					</div>
				</div>
			</div>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				styleClass="box-danger">
				<p:commandButton value="Yes" type="button"
					styleClass="btn-primary ui-confirmdialog-yes" icon="fa fa-check" />
				<p:commandButton value="No" type="button"
					styleClass="btn-danger ui-confirmdialog-no" icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>

</ui:composition>

