<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
schueler
    </ui:define>

	<ui:define name="description">
Find cars by name, price and model
    </ui:define>



	<ui:define name="body">
		<adm:breadcrumb title="Car list" />

		<h:form id="form">
			<p:growl id="msgs" showDetail="true" />


			<div class="box box-primary">
				<div class="box-header with-border">


					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton action="schuelerformular?faces-redirect=true"
							icon="fa fa-plus" value="Hinzufügen" styleClass="btn-primary" />
						<p:spacer width="5" />

						<p:commandButton
							action="#{schuelerForm.remove(schuelerlist.selectedList)}"
							icon="fa fa-trash" styleClass="btn-danger"
							value="Ausgewählte löschen" onsuccess="location.reload()">
							<p:confirm header="Confirmation"
								message="Wirklich ausgewählte Schüler löschen?"
								icon="ui-icon-danger" />
						</p:commandButton>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>


						<p:spacer width="5" />
					</div>
				</div>




				<p:dataTable widgetVar="list" var="schueler"
					value="#{schuelerlist.list}" rowKey="#{schueler.idSchueler}"
					selection="#{schuelerlist.selectedList}" rows="20"
					sortMode="multiple">

					<p:column selectionMode="multiple" style="text-align:center" />

					<p:column headerText="Nachname" sortBy="#{schueler.nachname}">
						<a href="schuelerformular.xhtml?id=#{schueler.idSchueler}"><h:outputText
								id="nachname" value="#{schueler.nachname}" style="width:100%" /></a>
					</p:column>
					<p:column headerText="Vorname" sortBy="#{schueler.vorname}">
						<h:outputText id="vorname" value="#{schueler.vorname}"
							style="width:100%" />
					</p:column>
					<p:column headerText="Klasse" sortBy="#{schueler.klasse_fk}">
						<h:outputText id="klasse_fk" value="#{schueler.klasse_fk}"
							style="width:100%" />
					</p:column>
					<p:column headerText="Interne Verwaltungsnummer"
						sortBy="#{schueler.interne_verwaltungsnummer}">
						<h:outputText id="interne_verwaltungsnummer"
							value="#{schueler.interne_verwaltungsnummer}" style="width:100%" />
					</p:column>
					<p:column headerText="Geburtsdatum"
						sortBy="#{schueler.geburtsdatum}">
						<h:outputText id="geburtsdatum" value="#{schueler.geburtsdatum}"
							style="width:100%" />
					</p:column>



				</p:dataTable>

			</div>

		</h:form>

	</ui:define>


</ui:composition>
