<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
		Stundenplan
    </ui:define>


	<ui:define name="body">

		<h3>AutoResize</h3>

		<h:form id="form" prependId="false">
			<p:commandButton action="#{stundenplanCSV.addCSV()}"
				icon="fa fa-plus" update="@form" value="Zum Stundenplan hinzufügen"
				styleClass="btn-primary" />
			<p:spacer width="5" />

			<p:inputTextarea rows="6" cols="33" id="inputstundenplacsv"
				value="#{stundenplanCSV.csv}" />


		</h:form>


	</ui:define>


</ui:composition>

