<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="title">
Stundeformular
    </ui:define>

	<ui:define name="body">
		<f:metadata>
			<f:viewParam name="id" value="#{stundeForm.id}"
				converter="javax.faces.Long" />
			<f:event type="preRenderView" listener="#{stundeForm.init()}" />
		</f:metadata>

		<adm:breadcrumb
			title="#{empty stundeForm.id ? 'Neu Stundeformular' : 'Car '.concat(stundeForm.id)}"
			link="stundeForm.xhtml?id=#{stundeForm.id}" />
		<h:form id="form" prependId="false">
			<p:focus rendered="#{empty stundeForm.id}" />

			<div class="box box-primary">
				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton value="Save" action="#{stundeForm.save}"
							update="@form" icon="fa fa-check" styleClass="btn-primary" />
						<p:spacer width="5" rendered="#{stundeForm.isNew()}" />
						<p:commandButton value="Clear" action="#{stundeForm.clear}"
							process="@this" icon="fa fa-refresh" styleClass="btn-success"
							update="@form" rendered="#{stundeForm.isNew()}"
							resetValues="true" />
						<p:spacer width="5" rendered="#{not stundeForm.isNew()}" />

						<p:commandButton value="Delete" action="#{stundeForm.remove}"
							process="@this" rendered="#{not stundeForm.isNew()}"
							icon="fa fa-trash" styleClass="btn-danger">
							<f:setPropertyActionListener value="true"
								target="#{facesContext.externalContext.flash.keepMessages}" />
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton value="Back" immediate="true"
							action="stundeList?faces-redirect=true" process="@this"
							icon="fa fa-close" />
					</div>
					<p:splitButton value="Save" action="#{stundeForm.save}"
						update="@form" icon="fa fa-check"
						styleClass="hidden-md hidden-lg btn-primary">
						<p:menuitem value="Reset" action="#{stundeForm.clear}"
							process="@this" update="@form" rendered="#{stundeForm.isNew()}"
							resetValues="true" icon="fa fa-refresh" />
						<p:menuitem value="Delete" action="#{stundeForm.remove}"
							process="@this" rendered="#{not stundeForm.isNew()}"
							icon="fa fa-trash">
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:menuitem>
						<p:separator />
						<p:menuitem value="Back" action="stundeList?faces-redirect=true"
							process="@this" immediate="true" icon="fa fa-close" />
					</p:splitButton>

					<p:separator />

					<div class="ui-g ui-fluid">
						<div class="ui-g-12">
							<p:outputLabel value="bezeichnung" for="inputbezeichnung" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputbezeichnung"
								value="#{stundeForm.instance.bezeichnung}" />
						</div>

						<div class="ui-g-12">
							<p:outputLabel value="Startzeit:" for="inputstartzeit" />
						</div>
						<div class="ui-g-12">
							<p:calendar id="inputstartzeit"
								value="#{stundeForm.instance.startzeitx}" timeOnly="true"
								pattern="HH:mm" />
						</div>
						<div class="ui-g-12">
							<p:outputLabel value="Endzeit:" for="inputendzeit" />
						</div>
						<div class="ui-g-12">
							<p:calendar id="inputendzeit"
								value="#{stundeForm.instance.endzeitx}" timeOnly="true"
								pattern="HH:mm" />
						</div>

						<p:dialog modal="true" resizable="false" widgetVar="dlg"
							showEffect="fold">
							<p:panelGrid id="display" columns="2" columnClasses="label,value">
								<h:outputText value="Startzeit:" />
								<h:outputText value="#{stundeForm.instance.startzeitx}">
									<f:convertDateTime pattern="HH:mm" />
								</h:outputText>

								<h:outputText value="Endzeit:" />
								<h:outputText value="#{stundeForm.instance.endzeitx}">
									<f:convertDateTime pattern="HH:mm" />
								</h:outputText>
							</p:panelGrid>
						</p:dialog>
					</div>
				</div>
			</div>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				styleClass="box-danger">
				<p:commandButton value="Yes" type="button"
					styleClass="btn-primary ui-confirmdialog-yes" icon="fa fa-check" />
				<p:commandButton value="No" type="button"
					styleClass="btn-danger ui-confirmdialog-no" icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>

</ui:composition>

