<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces"
	template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
Stunde
    </ui:define>



	<ui:define name="body">
		<adm:breadcrumb title="stunde list" />

		<h:form id="form">
			<p:growl id="msgs" showDetail="true" />


			<div class="box box-primary">

				<div class="box-header with-border">
					<p>Mathematik, Klasse 5a</p>
				</div>
			</div>

			<style type="text/css">
button {
	width: 100%;
	heigth: 100%;
}
</style>


			<p:dataTable widgetVar="list" var="schueler"
				value="#{unterrichtsstunde.getSchuelerList(param['ue'])}"
				rowKey="#{schueler.idschueler}" rows="20" sortMode="multiple">

				<p:column headerText="Vorname" sortBy="#{schueler.vorname}">
					<h:outputText id="vorname" value="#{schueler.vorname}"
						style="width:100%" />
				</p:column>

				<p:column headerText="Nachname" sortBy="#{schueler.nachname}">
					<h:outputText id="nachname" value="#{schueler.nachname}"
						style="width:100%" />
				</p:column>

				<p:column headerText="Absenz">
					<p:commandButton
						actionListener="#{unterrichtsstunde.changeMissing(schueler.idschueler)}"
						style='background-color: #{unterrichtsstunde.getStyleMissing(schueler.idschueler)};'
						update="@this" value="" />
				</p:column>
				<p:column headerText="Fehlende HA">
					<p:commandButton
						actionListener="#{unterrichtsstunde.changeHomework(schueler.idschueler)}"
						style='background-color: #{unterrichtsstunde.getStyleHomework(schueler.idschueler)};'
						update="@this" value="" />
				</p:column>
				<p:column headerText="Verspätung">
					<p:commandButton
						actionListener="#{unterrichtsstunde.changeLate(schueler.idschueler)}"
						style='background-color: #{unterrichtsstunde.getStyleLate(schueler.idschueler)};'
						update="@this" value="" />
				</p:column>



			</p:dataTable>

			<h3>Unterrichtsgegenstand</h3>

			<p:inputTextarea rows="3" cols="33" id="inputstundenplacsv"
				style="width:100%" />
			<br />
			<br />
			<p:commandButton icon="fa fa-save" value="Stunde Speichern"
				styleClass="btn-primary" />



		</h:form>

	</ui:define>


</ui:composition>

