<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="head-end">
		<style type="text/css">
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
</style>
	</ui:define>

	<ui:define name="title">
Klasse
    </ui:define>

	<ui:define name="description">

	</ui:define>



	<ui:define name="body">
		<adm:breadcrumb title="klasse list" />

		<h:form id="form">
			<p:growl id="msgs" showDetail="true" />


			<div class="box box-primary">
				<div class="box-header with-border">


					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton action="klasseformular?faces-redirect=true"
							icon="fa fa-plus" value="Hinzufügen" styleClass="btn-primary" />
						<p:spacer width="5" />

						<p:commandButton
							action="#{klasseForm.remove(klasseList.selectedList)}"
							icon="fa fa-trash" styleClass="btn-danger"
							value="Ausgewählte löschen" onsuccess="location.reload()">
							<p:confirm header="Confirmation"
								message="Wirklich ausgewählte Schüler löschen?"
								icon="ui-icon-danger" />
						</p:commandButton>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							<p:commandButton value="Yes" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>


						<p:spacer width="5" />
					</div>
				</div>




				<p:dataTable widgetVar="list" var="klasse"
					value="#{klasseList.list}" rowKey="#{klasse.idklasse}"
					selection="#{klasseList.selectedList}" rows="20"
					sortMode="multiple">

					<p:column selectionMode="multiple" style="text-align:center" />

					<p:column headerText="Stufe" sortBy="#{klasse.stufe}">
						<a href="klasseformular.xhtml?id=#{klasse.idklasse}"><h:outputText
								id="stufe" value="#{klasse.stufe}" style="width:100%" /></a>
					</p:column>
					<p:column headerText="Bezeichnung" sortBy="#{klasse.bezeichnung}">
						<a href="klasseformular.xhtml?id=#{klasse.idklasse}"><h:outputText
								id="bezeichnung" value="#{klasse.bezeichnung}"
								style="width:100%" /></a>
					</p:column>
					<p:column headerText="Klassenlehrer"
						sortBy="#{klasse.klassenLehrer}">
						<a href="klasseformular.xhtml?id=#{klasse.idklasse}"><h:outputText
								id="klassenLehrer" value="#{klasse.klassenLehrer}"
								style="width:100%" /></a>
					</p:column>
					<p:column headerText="Fächer"
						sortBy="#{klasse.unterrichtseinheiten}">
						<a href="klasseformular.xhtml?id=#{klasse.idklasse}"><h:outputText
								id="unterrichtseinheiten" value="#{klasse.unterrichtseinheiten}"
								style="width:100%" /></a>
					</p:column>


				</p:dataTable>

			</div>

		</h:form>

	</ui:define>


</ui:composition>

