<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<title>Digitales Klassenbuch</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="shortcut icon" type="image/x-icon"
			href="#{resource['favicon/favicon.ico']}" />
		<link rel="shortcut icon" type="image/x-icon"
			href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16" />
		<link rel="shortcut icon" type="image/x-icon"
			href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32" />
		<link rel="shortcut icon" type="image/x-icon"
			href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="theme-color" content="#444" />
		<meta name="mobile-web-app-capable" content="yes" />
	</h:head>

	<h:body styleClass="hold-transition login-page">
		<div id="loader" class="load-bar" style="display: none">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>

		<div class="login-box">
			<div class="login-logo">
				<p:link href="index.xhtml">
					<b>Digitales</b>Klassenbuch</p:link>
			</div>

			<!-- /.login-logo -->
			<div class="box login-box-body">
				<h:form>
					<p class="login-box-msg"></p>
					<p:messages closable="true" />

					<div class="form-group has-feedback">
						<p:inputText value="#{userSession.kuerzel}" type="text"
							styleClass="form-control" placeholder="Userkürzel"
							required="true" requiredMessage="Kürzel benötigt." />
						<i class="fa fa-user form-control-feedback"
							style="margin-top: 10px"></i>
					</div>
					<div class="form-group has-feedback">
						<p:inputText value="#{userSession.password}" type="password"
							styleClass="form-control" placeholder="Passwort" required="true"
							requiredMessage="Passowrt benötigt." />
						<i class="fa fa-lock form-control-feedback"
							style="margin-top: 10px"></i>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p:selectBooleanCheckbox itemLabel="Remember Me"
								value="#{userSession.remember}" />
						</div>
						<p:spacer height="10" />
						<div class="col-xs-12">
							<p:commandButton styleClass="btn btn-success btn-block"
								action="#{userSession.login()}" onclick="showBar()"
								oncomplete="if(args.validationFailed){hideBar()}"
								value="Einloggen" update="@form" />
						</div>
					</div>
				</h:form>
			</div>

			<!-- /.login-box-body -->
		</div>
		<adm:ripple />
		<h:outputScript library="js" name="admintemplate.js" target="head" />

		<style type="text/css">
body .load-bar {
	margin-top: -20px;
}
</style>
	</h:body>
</f:view>
</html>