<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" template="#{userSession.layout}">

	<ui:define name="title">
Raumformular
    </ui:define>

	<ui:define name="body">
		<f:metadata>
			<f:viewParam name="id" value="#{raumForm.id}"
				converter="javax.faces.Long" />
			<f:event type="preRenderView" listener="#{raumForm.init()}" />
		</f:metadata>

		<adm:breadcrumb
			title="#{empty raumForm.id ? 'Neu Raumformular' : 'Car '.concat(raumForm.id)}"
			link="raumForm.xhtml?id=#{raumForm.id}" />
		<h:form id="form" prependId="false">
			<p:focus rendered="#{empty raumForm.id}" />

			<div class="box box-primary">
				<div class="box-header with-border">
					<div id="main-buttons" class="hidden-sm hidden-xs">
						<p:commandButton value="Save" action="#{raumForm.save}"
							update="@form" icon="fa fa-check" styleClass="btn-primary" />
						<p:spacer width="5" rendered="#{raumForm.isNew()}" />
						<p:commandButton value="Clear" action="#{raumForm.clear}"
							process="@this" icon="fa fa-refresh" styleClass="btn-success"
							update="@form" rendered="#{raumForm.isNew()}" resetValues="true" />
						<p:spacer width="5" rendered="#{not raumForm.isNew()}" />

						<p:commandButton value="Delete" action="#{raumForm.remove}"
							process="@this" rendered="#{not raumForm.isNew()}"
							icon="fa fa-trash" styleClass="btn-danger">
							<f:setPropertyActionListener value="true"
								target="#{facesContext.externalContext.flash.keepMessages}" />
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton value="Back" immediate="true"
							action="raumList?faces-redirect=true" process="@this"
							icon="fa fa-close" />
					</div>
					<p:splitButton value="Save" action="#{raumForm.save}"
						update="@form" icon="fa fa-check"
						styleClass="hidden-md hidden-lg btn-primary">
						<p:menuitem value="Reset" action="#{raumForm.clear}"
							process="@this" update="@form" rendered="#{raumForm.isNew()}"
							resetValues="true" icon="fa fa-refresh" />
						<p:menuitem value="Delete" action="#{raumForm.remove}"
							process="@this" rendered="#{not raumForm.isNew()}"
							icon="fa fa-trash">
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-danger" />
						</p:menuitem>
						<p:separator />
						<p:menuitem value="Back" action="raumList?faces-redirect=true"
							process="@this" immediate="true" icon="fa fa-close" />
					</p:splitButton>

					<p:separator />

					<div class="ui-g ui-fluid">

						<div class="ui-g-12">
							<p:outputLabel value="bezeichnung" for="inputbezeichnung" />
						</div>
						<div class="ui-g-12">
							<p:inputText id="inputbezeichnung"
								value="#{raumForm.instance.bezeichnung}" />
						</div>
					</div>
				</div>
			</div>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				styleClass="box-danger">
				<p:commandButton value="Yes" type="button"
					styleClass="btn-primary ui-confirmdialog-yes" icon="fa fa-check" />
				<p:commandButton value="No" type="button"
					styleClass="btn-danger ui-confirmdialog-no" icon="fa fa-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>

</ui:composition>

